body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header content */
header {
    background-color: dodgerblue;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
header a{
    margin-top: 5px;
    margin-bottom: 5px;
}
.logoR {
    float: right;
    margin-right: 25px;
}
.logoR:hover {
    filter: invert(100%);
}
#logoL {
    margin-left: 5px;
    display: inline-block;
}
.logoR img, #logoL img {
    display: inline-block;
    max-height: 45px;
    vertical-align: middle;
}

/* content of the website */
#content{
    margin-top: 50px;
    flex: 1;
    padding-bottom: 60px; /* Altura do footer */
}
#content h2{
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    /* margin-left: 2.5%; */
    font-family: "Arial", sans-serif;
}
#content h2 a{
    color: dodgerblue;
}
#content ul{
    width: 95%;
    white-space: nowrap;
    overflow-x: auto;

    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
#content ul li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid #d5d5d5;
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
#content ul li:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#content ul:not(#phones):not(#tvs):not(#accessories) li img {
    height: 130px;
    width: 200px;
    margin: 10px;
}  
#phones li img{
    height: 130px;
    width: 100px;
    margin: 10px;
}
#tvs li img{
    height: 130px;
    width: 230px;
    margin: 10px;
}
#accessories li img{
    height: 130px;
    width: 150px;
    margin: 10px;
}
footer {
    background-color: #a7d3ff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}
footer h4{
    margin: 0px;
}
footer p{
    display: inline-block;
    margin: 5px 5px 0 5px;
}


/* scroll bar*/
#content ul::-webkit-scrollbar {
    height: 12px;
}
#content ul::-webkit-scrollbar-thumb {
    background-color: dodgerblue;;
    border-radius: 5px;
}
#content ul::-webkit-scrollbar-track {
    background-color: #d5d5d5;
    border: 1.5px solid transparent;
    background-clip: content-box;
    border-radius: 5px; 
}


/* product style */
#productContent{
    font-family: "Arial", sans-serif;
    padding-left: 40px;
}
#productContent a{
    padding: 3px;
    border: 2px solid #999999;
    border-radius: 5px;
    margin-bottom: 100px;
}
#productContent a:hover{
    cursor: pointer;
    background-color: #a7d3ff;
}
#nameP{
    margin-top: 75px;
}
#descP{
    padding: 0;
}

/* list products */
.listcontent{
    font-family: "Arial", sans-serif;
    margin-top: 50px;
    flex: 1;
    padding-bottom: 60px;
}
.listcontent > ul{
    padding-left: 100px;
}
.listcontent ul > li {
    box-sizing: border-box;
    border: 3px solid #d5d5d5;
    border-radius: 7px;
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.inforight {
    box-sizing: border-box;
    font-size: 12px; /* font size of general */
    width: 80vw;
}
.listcontent ul > li:hover{
    transform: scale(1.1);
}
.inforight * {
    margin: 5px;
}
.inforight h2:hover {
    cursor: pointer;
    color: dodgerblue;
}
.inforight h3 {
    font-size: 35px;
    margin: 5px;
}
.inforight h3:hover {
    cursor: pointer;
}
.listcontent h1{
    font-size: 40px;
    margin-top: 35px;
    text-align: center;
}
.listcontent ul ul li {
    border: 0px solid transparent;
    display: list-item;
    list-style-type: disc;
    margin: 5px;
}
.listcontent ul ul li:hover{
    transform: scale(1);
}
.listcontent ul li img{
    padding: 5px;
    float: left;
    margin-right: 10px;
}
.listcontent ul li img:hover{
    cursor: pointer;
}

/* img size */
#laptopcss ul li img{
    width: 450px;
    height: 300px;
}
#mobilecss ul li img{
    width: 200px;
    height: 300px;
}
#tvcss ul li img{
    width: 500px;
    height: 300px;
}
/* exeptions */
#BLACKVIEW ul li,#\35G ul li{
    font-size: 9px;
}
#OSCAL ul li{
    font-size: 8px; 
}
#RCATV ul li{
    font-size: 9px; 
}
#TCLTV ul li,#SYLVOXTV ul li{
    font-size: 10px;
}